F.Header_footer{font-family:Arial;font-size:11px;color:#477819;font-weight:400}
.Bannertext_left{font-family:Arial;font-size:16px;color:#FFF;font-weight:700}
.Bannertext_right_top{font-family:Arial;font-size:20px;color:#141414;font-weight:Bold}
.Bannertext_right_middle{font-family:Arial;font-size:14px;color:#FFF;font-weight:400}
.Bannertext_right_bottom{font-family:Arial;font-size:20px;color:#5AE5CF;font-weight:Bold}
.Tab_notselected{font-family:Arial;font-size:14px;color:#5F5E5E;font-weight:400}
.Centertext{font-family:Arial;font-size:18px;color:#7AAA1B;font-weight:400}
.CentertextSearch{font-family:Arial;font-size:12px;color:#7AAA1B;font-weight:400}
.Centertext_lower{font-size:12px;color:#555851;font-weight:400}
.Bottomtext{font-family:Arial;font-size:14px;color:#141414;font-weight:Bold}
.Bottomtext_lower{font-size:12px;color:#555851}
.Links{font-family:Arial;font-size:13px;color:#296A86;text-align:left}
.Links_lower{font-size:12px;color:#000101;font-weight:400}
.Morelink{font-family:Arial;font-size:11px;color:#63B0E1;font-weight:400}
.Feedback{font-family:Arial;font-size:11px;color:#858176;font-weight:400}
.Feedback_lower{font-size:12px;color:#3F3C35;font-weight:400}
.Bordercolor_login{color:#C1DAD6}
.Loginsection{font-family:Arial;font-size:12px;color:#000;font-weight:400}
.Loginsection_lower{font-size:12px;color:#000}
.Loginsection_lower_italic{font-size:11px;font-style:italic;color:#000}
.PageHeader{font-family:Arial;font-size:16px;color:#046F5E;font-weight:700;height:10px;border-bottom:solid 2px #F5F5F5}
.Account_Label{font-family:Arial;font-size:11px;color:#92928C;font-weight:700}
.Account_Value{font-family:Arial;font-size:11px;color:#464942;font-weight:400}
.Reportlabel1{font-family:Arial;font-size:12px;color:red;font-weight:700}
.ReportlabelHeader{font-family:Arial;font-size:11px;color:#000;font-weight:700}
.Text{font-family:Arial;font-size:10px;color:#023129;font-weight:700}
.BgColor{background-color:#D1F1F2;padding-left:6px}
.dropDownLists{height:20px;width:100px;font-family:Arial;font-size:12px;color:#080808;font-weight:400}
.dropDowns_HourNMin{height:20px;width:50px;font-family:Arial;font-size:8px;color:#080808;font-weight:700}
.TextBox{height:15px;width:94px;font-family:Arial;font-size:12px;color:#080808;font-weight:400}
.TextBoxSmall{height:15px;width:60px;font-family:Arial;font-size:12px;color:#080808;font-weight:400}
.ButtonGenerate{background-image:url(../Images/B_GenerateReport.jpg);height:21px;width:96px;border-width:0}
.ButtonSimulate{background-image:url(../Images/B_SimulateRatePlan.jpg);height:21px;width:96px;border-width:0}
.Reportcriteria_RadioButtonBgColor{background-color:#F5F5F5}
.Reportcriteria_Panel{border-color:#D1F1F2;border-style:solid;border-width:2px}
.Breadcrumb_Current{font-family:Arial;font-size:11px;color:#92928c;font-weight:400}
.PrimaryMenu{font-family:Arial;font-size:14px;color:#07222D;font-weight:400}
.SecondaryMenu{font-family:Arial;font-size:12px;color:#072520;font-weight:700}
.SelectedMenu{font-family:Arial;font-size:12px;color:#FFFEFE;font-weight:400;width:200px;background-color:#296A86;background-image:url(../Images/Corner_Right.jpg);background-repeat:no-repeat;background-position:center right}
.HeaderText{font-family:Arial;font-size:11px;color:#419083;font-weight:400}
.Text_AccountSummary{font-family:Arial;font-size:11px;color:#484747;font-weight:400}
.Text_PersonalDetails{font-family:Arial;font-size:12px;color:#00372E;font-weight:400}
.Text_PersonalDetails_value{font-family:Arial;font-size:12px;color:#464942;font-weight:400}
.Text_ServiceInformation{font-family:Arial;font-size:12px;color:#023129;font-weight:400}
.SectionColor{color:#F8F8F8}
.BorderColor{color:#BFE4DF}
body{background-color:#3090C7;
}

.Highlights_label{font-family:Arial;font-size:11px;color:#023129}
.master{margin-left:auto;margin-right:auto;height:100%;background-color:#FFF;width:45%}
.SiteSearch{font-family:Arial;font-size:9px;color:#FFFFFF;font-weight:400}
#header ul{float:right;display:inline}
#header ul li{float:left;display:inline;padding:0 2px}
.SiteSearch_Results{font-family:Arial;font-size:10px;color:#000;font-weight:400}
.SearchBox{background-color:#657383;height:18px;border:1px solid #8bae97;font-size:10px;color:White;text-align:left;vertical-align:middle;width:230px}
.CornerTopLeft{background-image:url(../Images/Corner_Left.jpg);background-position:top left;background-repeat:no-repeat;width:10px}
.CornerTopRight{background-image:url(../Images/Corner_Right.jpg);background-position:top right;background-repeat:no-repeat;width:10px}
.CornerBottomLeft{background-image:url(../Images/Corner_Bottom.jpg);background-position:left bottom;background-repeat:no-repeat;background-color:#FFF;width:12px}
.CornerBottomRight{background-image:url(../Images/Corner_Right_Bottom.jpg);background-position:right bottom;background-repeat:no-repeat;width:10px}
.MenuFirstLevel{font-family:Arial;font-size:14px;color:#07222D}
.MenuSecondLevel{font-family:Arial;font-size:12px;color:#07222D;padding-left:10px}
.MenuThirdLevel{font-family:Arial;font-size:10px;color:#07222D;padding-left:20px}
.LeftMenuStyle{font-weight:700;padding:15px 10px}
.LeftNavTopLeftCorner{background-image:url(../Images/Corner_LNavi_Left.jpg);background-repeat:no-repeat;background-position:left top;background-color:#9CE2D7;width:12px;height:12px}
.LeftNavTopRightCorner{background-image:url(../Images/Corner_LNavi_Right.jpg);background-repeat:no-repeat;background-position:right top;background-color:#9CE2D7;width:12px;height:12px}
.LeftNavBottomLeftCorner{background-image:url(../Images/Corner_LNavi_LeftB.jpg);background-repeat:no-repeat;background-position:left bottom;background-color:#9CE2D7;width:12px;height:12px;vertical-align:middle}
.LeftNavBottomRightCorner{background-image:url(../Images/Corner_LNavi_RightB.jpg);background-repeat:no-repeat;background-position:right bottom;background-color:#9CE2D7;width:12px;height:12px}
.LeftNavMiddle{background-image:url(../Images/LNavi_Bg.jpg);background-position:left top}
.LeftNavTopBgColor{background-color:#9CE2D7}
.LeftNavBottomBgColor{background-color:#398CAE}
.footer{font-size:10px;color:#ffffff;font-family:Arial}
.FooterLeft{background-image:url(../Images/Footer-Left.jpg);background-position:left top;width:10px;height:25px}
.FooterRight{background-image:url(../Images/Footer-Right.jpg);background-position:right top;width:10px;height:25px}
.FooterContentLeft{font-family:Arial;font-size:12px;background-color:#657383;text-align:left;vertical-align:middle;width:300px}
.FooterContentRight{font-family:Arial;font-size:12px;background-color:#657383;text-align:right;vertical-align:middle;width:100px}
.std_textBox{height:14px;width:124px;font-family:Arial;font-size:9px;color:#080808;font-weight:400}
.label_BgColor{background-color:#D1F0F0;padding-left:6px}
.hyperLink{color:blue;text-decoration:underline;font-size:10px;font-family:Verdana}
.rowBackgroundgrey{background-color:#eff6fa}
.tabButtonStyleUnselected{font-weight:BOLD;font-size:11px;color:#FFF;font-family:TAHOMA;height:17px;background-color:#9C3;width:91px;background-image:URL(../Images/Sub_Tab_Unselected.JPG);border-style:NONE}
.tabButtonHomePage{font-weight:400;font-size:14px;color:#068872;font-family:Arial;height:22px;background-color:#9C3;width:170px;background-image:URL(../Images/Tabs-Home.JPG);border-color:#C1DAD6;border-style:NONE}
.tabButtonHomePageUnselected{font-weight:400;font-size:14px;color:Gray;font-family:Arial;height:22px;background-color:#9C3;width:170px;background-image:URL(../Images/Tabs-Home-UnSelected.JPG);border-color:#C1DAD6;border-style:NONE}
.LHSBackground{background:#F4EDDD}
.GridTable{font-size:10px;font-family:Verdana;font-weight:400;color:#000;border-color:#c8c8c8;border-style:Solid;border-width:1px;margin:0;padding:4px}
.GridRow{font-family:Verdana;font-size:10px;font-weight:400;text-align:center;color:#333;background-color:#F7F6F3;height:13px;white-space:nowrap}
.GridHeaderRow{font-family:Verdana;font-size:10px;font-weight:700;text-align:center;color:#023129;background-color:#F3ECDA;height:25px}
.GridRowAlt{font-family:Verdana;font-size:10px;font-weight:400;text-align:center;color:#284775;background-color:#FFF;white-space:nowrap;height:13px}
.GridPager{font-family:Verdana;font-size:10px;font-weight:400;text-align:center;color:#000;background-color:#F3ECDA;white-space:nowrap;height:25px}
.GridFooter{font-family:Verdana;font-size:10px;font-weight:700;text-align:center;color:#000;background-color:#F3ECDA;white-space:nowrap;height:25px}
.ErrorMessage{color:Red;font-size:11px;font-family:Arial}
.login_background_nl-NL{background-image:url(../Images/Home-Page-LoginBG_nl-NL.jpg);width:221px;height:234px;background-repeat:no-repeat}
.Header_Text{font-family:Arial;font-size:11px;color:#000;font-weight:400;background-color:#CFF}
.grayBorder{border:solid 1px #C1DAD6}
.Textbox{font-family:Arial;font-size:11px;border:solid 1px #BFE4DF;font-weight:400}
.CheckBox{font-family:Arial;font-size:9px;color:#157969;font-weight:700}
.ButtonGo{background-image:url(../Images/btnGo.jpg);height:22px;width:30px;border:0;background-repeat:no-repeat;font-family:Arial;font-size:11px;font-weight:400}
.button_Medium_BG{background-image:url(../Images/btnBG_Medium.jpg);height:21px;width:52px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#FFF;font-weight:400}
.button_Medium1_BG{background-image:url(../Images/btnBG_Medium1.jpg);height:21px;width:80px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#FFF;font-weight:400}
.button_Close{background-image:url(../Images/Button_Close.PNG);height:20px;width:20px;border:0;background-repeat:repeat;font-family:Arial;font-size:12px;color:#FFF;font-weight:bolder}
.text_lower_MoreInfo{font-family:Arial;font-size:11px;color:#92928C}
.button_Large_BG{background-image:url(../Images/btnBG_Large.jpg);height:21px;width:95px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#FFF;font-weight:400;text-align:center}
.button_Largest_BG{background-image:url(../Images/btnBG_Largest.jpg);height:21px;width:116px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#FFF;font-weight:400}
.button_XX_Large_BG{background-image:url(../Images/btnBG_XX_Large.jpg);height:21px;width:188px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#FFF;font-weight:400}
.Sign_In_BG_nl-NL{background-image:url(../Images/B_SignIn_Blank_nl-NL.jpg);height:24px;width:108px;border:0;background-repeat:repeat-y;color:#FFF;font-family:Arial;font-weight:700;font-size:11px}
.B_RegisterNow{background-image:url(../Images/B_RegisterNow.jpg);height:24px;width:83px;border:0;background-repeat:repeat-y}
.B_ContinueWithoutRegister{background-image:url(../Images/B_ContinueWithoutRegister.jpg);height:24px;width:156px;border:0;background-repeat:repeat-y}
.Login_Text_Italic{background-image:url(../Images/B_SignIn.jpg);height:24px;width:57px;border:0;background-repeat:repeat-y}
.clsLNNoSelect{font-weight:700;font-size:14px;padding-bottom:2px;font-family:Arial;padding-left:8px}
.clsLNNoSelect a{color:#000;display:block;border-bottom-style:solid;border-bottom-color:#80C5C0;border-bottom-width:1px;padding:2px 8px 4px 20px}
.clsInfosysLogo{background-image:url(../Images/Infy-logo-(blue-bg).jpg);background-repeat:no-repeat}
.clsLNLevel1,.clsLNLevel1_Sel{font-size:14px;padding-bottom:1px;font-family:Arial;padding-left:8px;padding-top:4px}
.clsLNLevel1 a,.clsLNLevel1_Sel a{background-color:#3A8CAF;color:#FFF;padding-right:8px;padding-left:20px;display:block}
.clsLNLevel1_Sel a{background-color:#C5E2A9}
.clsLNLevel1 a:hover,.clsLNLevel1_Sel a:hover{background-color:#C5E2A9;text-decoration:none}
.clsplusmark{background-repeat:no-repeat;background-image:url(../Images/plusbig.gif);background-position:195px 50%}
.clsLinkSpan{text-decoration:none;cursor:hand}
.clsminusmark{background-repeat:no-repeat;background-image:url(../Images/minusbig.gif);background-position:195px 50%}
.clsnomark{background-repeat:no-repeat;background-image:url(../Images/spacer.gif);background-position:3px 50%;padding-top:2px;padding-bottom:2px}
.clsnomark_Sel{background-repeat:no-repeat;background-image:url(../Images/spacer.gif);background-position:3px 50%;padding-top:2px;padding-bottom:2px;background-color:#8EA4CC;color:#FFF}
.clsLNLevel2,.clsLNLevel2_Sel{font-family:Arial;font-size:12px;padding-left:8px;color:#d1e1c3}
.clsLNLevel2 a,.clsLNLevel2_Sel a{background-color:#9CE2D7;color:#000;display:block;padding-left:25px;padding-right:8px;border-left-style:solid;border-left-color:#D1F1F2;border-left-width:1px;border-right-style:solid;border-right-color:#D1F1F2;border-right-width:1px}
.clsLNLevel2_Sel a{background-color:#E4EFDA}
.clsLNLevel2 a:hover,.clsLNLevel2_Sel a:hover{background-color:#E4EFDA;text-decoration:none}
.clsLNLevel3,.clsLNLevel3_Sel{padding-left:8px;font-family:Arial;font-size:11px;color:#d1e1c3}
.clsLNLevel3 a{font-size:11px;background-color:#9CE2D7;color:#000;display:block;padding-right:8px;padding-left:32px;border-left-style:solid;border-left-color:#D1F1F2;border-left-width:1px;border-right-style:solid;border-right-color:#D1F1F2;border-right-width:1px}
.clsLNSelected{background-color:Purple;color:#FFF}
.clsLNLevel3_Sel a{background-color:#8EA4CC;color:#FFF;display:block;padding-right:8px;padding-left:32px}
.clsLNLevel3 a:hover,.clsLNLevel3_Sel a:hover{background-color:#DDDDE2;text-decoration:none}
.SelectedTable{border-top-style:solid;border-top-color:#D1F1F2;border-top-width:1px;border-bottom-style:solid;border-bottom-color:#D1F1F2;border-bottom-width:1px}
.Account_LabelLoad{font-family:Arial;font-size:9px;color:#92928C;font-weight:700}
.Account_ValueLoad{font-family:Arial;font-size:9px;color:#464942;font-weight:400}
.TreeViewParent{background-image:url('../../Images/main menu_bg.jpg');background-repeat:repeat-x;vertical-align:middle;font-family:Verdana;font-size:9px;color:#000;font-weight:700}
.TreeViewChild{background-image:url('../../Images/grey gradiant bg1 .jpg');background-repeat:repeat-x;vertical-align:middle;font-family:Verdana;font-size:9px;color:blue}
.TreeViewHover{background-image:url('../../Images/main menu_selected_bg.jpg');background-repeat:repeat-x;vertical-align:middle;font-family:Verdana;font-size:9px;color:#000}
.divShow{display:block}
.divHide{display:none}
.Panel_InnerBorder{border-bottom:#FFF 2px solid;border-right:#FFF 2px solid;border-left:#FFF 2px solid;border-top:#FFF 2px solid}
.sectionAltWithoutBorder{background-color:#F8F8F8}
.sectionAltWithoutBorder_FAQ{background-color:#F8F8F8;font-family:Arial;font-size:12px;color:#023129}
.Reportlabel_FAQ{font-family:Arial;font-size:12px;color:#023129}
.Link_FAQ{font-family:Arial;font-size:12px;color:#000}
.Content_FAQ{text-decoration:none;color:#000;font-family:Arial;font-size:11px;font-weight:400}
.GoToTop_FAQ{text-decoration:none;color:#000;font-family:Arial;font-size:11px;font-weight:400;text-align:justify}
.Background_Home_banner{background-image:url(../Images/Home-Page-Banner.jpg);background-position:top left;background-repeat:no-repeat}
.Banner_Position{position:relative;top:-10px}
.Background_Home_Feedback_banner{background-image:url(../Images/Feedback.jpg);background-position:top left;background-repeat:no-repeat;width:230px;font-family:Arial;font-size:14px;color:#296A86;font-weight:Bold}
.tab_white_BG{background-image:url(../Images/WhiteTab.PNG);height:23px;width:73px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#21796A;font-weight:400;position:relative;bottom:-5px}
.tab_blue_BG{background-image:url(../Images/SkyBlueTab.PNG);height:23px;width:73px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#21796A;font-weight:400;position:relative;bottom:-3px}
.tab_white_big_BG{background-image:url(../Images/WhiteTab_Big.PNG);height:23px;width:96px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#21796A;font-weight:400;position:relative;bottom:-5px}
.tab_blue_big_BG{background-image:url(../Images/SkyBlueTab_Big.PNG);height:23px;width:96px;border:0;background-repeat:repeat-y;font-family:Arial;font-size:11px;color:#21796A;font-weight:400;position:relative;bottom:-3px}
.tab_padding{padding-right:1px;padding-left:1px}
.tab_bottomBorder{border-bottom:#D1F1F2 2px solid}
.contentHeader{font-family:Trebuchet MS, Arial, Helvetica, sans-serif;font-size:medium;font-weight:700;color:#000;text-align:center;padding:0}
.contentsSUBHEADER{font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#000;font-weight:700}
.bodyText{font-family:Times New Roman;font-size:8pt;font-style:italic;color:#000}
.textMandatory{font-size:x-small;color:red}
.statusMessage{color:red;font-family:Tahoma, Verdana;font-size:8pt}
.bodyTable{background-color:#DCDCDC;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px}
.rowHeader{font-weight:700;font-size:small;color:#000;font-family:Verdana;text-align:center;vertical-align:top;width:198px;height:24px}
BUTTON{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;font-weight:700;color:#000;padding-right:2px;padding-left:2px}
.ddl_textbox{font-family:Arial;font-size:10px}
A{font-family:Arial;font-size:12px;color:Blue;padding-right:2px;padding-left:2px}
.clsDataGrid{background-color:#FFF;color:#333;text-align:left;font-family:Arial;font-size:12px;border-color:gray;border-width:0;padding:4px}
.clsAlternatingItemStyle{background-color:#f3f3f3}
.clsDataGridLinks{font:12px Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;font-weight:700;color:#036}
.clsHeader{font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#000;background-color:gray;text-align:center;text-decoration:none}
.clsRowMouseOver{background-color:#87CEEB;text-align:center}
.clsRowMouseOut{background-color:#FFEFD5}
table th{background-color:#cff;border:1px;font:12px;font-family:Arial;font-weight:700}
.Calendar .ajax__calendar_container{border:1px solid #646464;background-color:red;color:red}
.Calendar .ajax__calendar_active .ajax__calendar_day,.Calendar .ajax__calendar_active .ajax__calendar_month,.Calendar .ajax__calendar_active .ajax__calendar_year{color:#000;font-weight:700}
.validatorCalloutHighlight{background-color:red}
.style1{width:55px}
.style5{width:142px}
.style6{width:209px}
.style7{width:20px}
.style8{width:34px}
.style9{width:173px}
.style11{width:196px}
.style12{width:192px}
.style13{width:369px}
.margin_bottom_10{margin-bottom:10px}
.SCPLogoLayout_nl-NL{background-image:url(../Images/SCP_dutchlogo.JPG);background-repeat:no-repeat;width:500px;height:56px}
.width300px{width:300px}
.bg_White{background-color:#FFF}
.Feedback_Image_en-US{background-image:url(../Images/TollFree.jpg);background-repeat:no-repeat;width:230px;height:50px}
.Feedback_Image_en-GB{background-image:url(../Images/Home-Page-Feedback.jpg);background-repeat:no-repeat;width:230px;height:50px;text-align:right}
.Feedback_Image_nl-NL{background-image:url(../Images/Home-Page-Feedback_Dutch.jpg);background-repeat:no-repeat;width:230px;height:75px}
.dropdown_LanguageSel{font-family:Arial;color:#296A86;font-weight:400;font-size:9px;width:70px;height:20px}
.SILogoLayout_en-US{background-image:url(../Images/SIPortal_Logo.png);background-repeat:no-repeat;width:500px;height:56px}
.SILogoLayout_1{background-image:url(../Images/Logo/Bescom_Logo.JPG);background-repeat:no-repeat}
.SILogoLayout_2{background-image:url(../Images/Logo/Mescom_Logo.JPG);background-repeat:no-repeat}
.SILogoLayout_3{background-image:url(../Images/Logo/Cescom_Logo.JPG);background-repeat:no-repeat}
.SILogoLayout_4{background-image:url(../Images/Logo/Gescom_Logo.JPG);background-repeat:no-repeat}
.SILogoLayout_5{background-image:url(../Images/Logo/Hescom_Logo.JPG);background-repeat:no-repeat}
.titleOfWebParts{font-family:Arial;font-size:12px;color:#21796A;font-weight:700;background-color:#9C3;background-image:URL(../Images/titleBGOfWebParts.JPG);direction:ltr;padding-left:5px;text-align:left;border-color:#C1DAD6;border-style:NONE}
.titleOfWebPartsBig{font-family:Arial;font-size:12px;color:#21796A;font-weight:700;background-color:#9C3;background-image:URL(../Images/titleBGOfWebPartsBig.JPG);direction:ltr;padding-left:5px;text-align:left;border-color:#C1DAD6;border-style:NONE}
.listBoxOfQuickLinks{height:295px;width:225px;font-family:Arial;font-size:12px;color:#080808;font-weight:400}
.listBoxDivBorder{height:295px;width:225px;border-color:#D1F1F2;border-style:solid;border-width:2px}
.Tab_selected,.Tabs{font-family:Arial;font-size:14px;color:#068872;font-weight:400}
A:link,A:visited,A:active,a.SiteSearch:link,a.SiteSearch:visited,a.SiteSearch:hover,a.SiteSearch_Results:link,a.SiteSearch_Results:visited,a.SiteSearch_Results:hover,a.footer:link,a.footer:visited,a.footer:hover{text-decoration:none}
A:hover,a.SiteSearch:hover,a.SiteSearch_Results:hover,a.footer:hover{text-decoration:underline}
.Loginsection_white,.userName{font-family:Arial;font-size:12px;color:#ffffff;font-weight:400}
.Reportcriteria_header,.Headinglabel,.Header,.Highlights_header{font-family:Arial;font-size:12px;color:#21796A;font-weight:700}
.Reportlabel,span.CheckBox label{font-family:Arial;font-size:12px;color:#023129;font-weight:700}
.ReportlabelContent,.ReportLink{font-family:Arial;font-size:11px;color:#000;font-weight:400}
.NormalText,.Text_Button{font-family:Arial;font-size:11px;color:#023129;font-weight:400}
.Breadcrumb,.Dropdown{font-family:Arial;font-size:11px;color:#296A86;font-weight:400}
.Text_RadioButton,span.Text_RadioButton label,span.CheckBoxText label,.Text_Light_Blue{font-family:Arial;font-size:12px;color:#157969;font-weight:400}
.SCPLogoLayout,.SCPLogoLayout_en-US,.SCPLogoLayout_en-GB{background-image:url(../Images/SCPortal_Logo.jpg);background-repeat:no-repeat;width:500px;height:56px}
.tabButtonStyleUnselected:hover,.tabButtonStyle,.tabButtonStyle:hover{font-weight:BOLD;font-size:11px;color:#FFF;font-family:TAHOMA;height:17px;background-color:#9C3;width:91px;background-image:URL(../Images/Sub_Tab_Selected.JPG);border-style:NONE}
.tabButtonHomePage:hover,.tabButtonHomePageUnselected:hover{font-weight:400;font-size:14px;color:#000;font-family:Arial;height:22px;background-color:#9C3;width:170px;background-image:URL(../Images/Tabs-Home.JPG);border-color:#C1DAD6;border-style:NONE}
.login_background,.login_background_en-US,.login_background_en-GB{background-image:url(../Images/Home-Page-LoginBG.jpg);width:221px;height:168px;background-repeat:no-repeat}
.RadioButton,.RadioButtonList,.CheckBoxText{font-family:Arial;font-size:12px;color:#157969;font-weight:700}
.Sign_In_BG_en-US,.Sign_In_BG_en-GB{background-image:url(../Images/B_SignIn_Blank.jpg);height:24px;width:57px;border:0;background-repeat:repeat-y;color:#FFF;font-family:Arial;font-weight:700;font-size:11px}
TEXTBOX,SELECT,TEXTAREA{font-family:Arial;font-size:12px;width:183px}
.Calendar .ajax__calendar_other .ajax__calendar_day,.Calendar .ajax__calendar_other .ajax__calendar_year,.Calendar .ajax__calendar_hover .ajax__calendar_day,.Calendar .ajax__calendar_hover .ajax__calendar_month,.Calendar .ajax__calendar_hover .ajax__calendar_year{color:#000}
.header{color:#FFFFFF; font-size: 23px; font-family: Arial;text-align:left}
.tdLogo{border-color: #95FFFF; height: 180px; background-repeat: no-repeat;
                background-position: center;}